.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
    background-color: rgb(45, 44, 44);
    padding: 30px;
    height: 400px;
    width: 900px;
}

.item{
    background-color: rgb(135, 174, 247);
    border-radius: 5px;
    height: 100%;
}

#a{
    grid-column: span 3;
}

#b{
    grid-row : 2 / span 2;
}

#e{
    grid-column: span 2;
}

#f{
    grid-column: span 3;
}