.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto 200px;
    gap: 10px;
}

.container>*{
    border-radius: 5px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100%;
}

.body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding:10px;
}

.body > *{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    border-radius: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

@media (min-width : 600px) and (max-width:900px){
    .body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .header,.footer{
        font-size: large;
    }
}

@media(min-width:900px){
    .body{
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
    .header,.footer{
        font-size: larger;
    }
}