.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px 100px;
    gap: 20px;
}

.item{
    display: flex;
    background-color: green;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media(max-width : 1000px){
    .container{grid-template-columns: repeat(3,1fr);}
}

@media(max-width : 768px){
    .container{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 100px 100px 100px;
    }

}

@media(max-width : 480px){
    .container{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,100px);
    }
}