
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    background-color: #ff5757;
    color: white;
}

.big {
    display: none;
}
.small {
    display: inline;
}
@media only screen and (min-width: 768px) {
    .content {
        background-color: #8aff8a;
        color: #333;
    }
    .big {
        display: inline;
    }
    .small {
        display: none;
    }
}